/*

.page {
    margin:0; 
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas:
        ' .  board board board .   '
        'create board board board chat'
        'join board board board chat'
        '. board board board .';

}*/





/*.create {
    position:center;
    background-color: #d0e6d0;
    border: 1px solid black;
    grid-area: create;
}
.chat {
    background-color: #d0e6d0;
    border: 1px solid black;
    grid-area: chat;
}
.join {
    background-color: #d0e6d0;
    border: 1px solid black;
    grid-area: join;
}

*/
.page {
    display: grid;
    flex-direction: column;
}
.deadpieces div {
    margin-left: 5px;
}
.deadpieces {
    margin-left: 25vw;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    font-family: FontAwesome;
    font-size: 2vw;
    width: 40%;
}
.board1 {
    border: 1px solid black;
    font-family: FontAwesome;
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    height: 40vw;
    margin-left: 25vw;
    font-size:3vw;
}
.board2 {
    border: 1px solid black;
    font-family: FontAwesome;
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    height: 40vw;
    margin-left: 25vw;
    font-size: 3vw;
}
.white {
    color: #EA9010;
}
.black {
    color: #90BE6D;
}

.board1 div {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12.5%;
    width: 12.5%;
}
.board2 div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12.5%;
    width: 12.5%;
}
.whiteSquare {
    background-color: #EAEFBD;
}
.blackSquare {
    /*background: #0f2027;*/ /* fallback for old browsers */
    /*background: linear-gradient(to right,#2c5364, #203a43, #0f2027);*/
}


.blackSquare1 {
    /*background: #0f2027;*/ /* fallback for old browsers */
    /*background: linear-gradient(to right,#2c5364, #203a43, #0f2027);*/
}
.text {
    margin-left: 25vw;
}

.move {
    background-color: #90BE6D;
    border: 2px solid green;
}
.move1 {
    background-color: #EA9010;
    border: 2px solid orange;
}

.active{border: 3px solid red !important; }

@media (max-width: 950px) {
    .board1 {
        font-family: FontAwesome;
        margin-top: 50px;
        margin-left: 12.5vw;
        display: flex;
        flex-wrap: wrap;
        width: 80vw;
        height: 80vw;
        font-size: 5vw;
    }
    .board2 {
        font-family: FontAwesome;
        margin-top: 50px;
        margin-left: 12.5vw;
        display: flex;
        flex-wrap: wrap;
        width: 80vw;
        height: 80vw;
        font-size: 5vw;
    }
    .deadpieces {
       
        margin-top: 20px;
        
        font-family: FontAwesome;
        font-size: 3vw;
    }
  
}